<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  
  <div class="w-25">
    <p>
        <%= form.label :author %><br>
        <%= form.text_field :author, class: "form-control" %>
    </p>
    <p>
        <%= form.label :content %><br>
        <%= form.text_area :content, class: "form-control" %>
    </p>
    <p>
        <%= form.submit "Add", class: "btn mb-2 btn-sm btn-outline-primary" %>
    </p>
  </div>
<% end %>